*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	background-color: white;
}

body{
	font-family:verdana;
	
}

li, a {
	font-family:verdana;
	font-weight:500;
	font-size:20px;
	color:black;

}

.header{
	border:1px solid grey;
	height:10px;
	width:auto;
	display:flex;
	justify-content:flex-end;
	align-items: center;
	padding:50px 10%;

}
h1{
	margin-right:auto;
	cursor:pointer;
}

.nav-bar{
	list-style:none;
}
.nav-bar li{
	display:inline-block;
	padding:0px 20px;
}

.nav-bar li a{
	transition:all 0.3s ease 0s;
}

.nav-bar li a:hover{
	color:blue;
}

button{
	margin-left:20px;
	padding: 9px 25px;
	background-color: rgba(0,136,169,1);
	border:none;
	border-radius:50px;
	cursor:pointer;
	transition:all 0.3s ease 0s;
}

button:hover{
	background-color: rgba(0,136,169,0.8);
}

#logo{
	width:auto;
	height:auto;
	background-color:yellow;
	border:1px solid grey;
}

.nav-bar li a{
	width:auto;
	height:auto;
	border:1px solid grey;
}

.ads p{
	font-size:40px;
	text-align:center;
	height:50px;
	border:1px solid grey;
}